body {
    background-color: mintcream;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: green;
}

.about {

}

.skills {

}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: paleturquoise;
    border-radius: 10%;
}

.project img{
    width: 100%;
}

.contact {

}
