body {
    background-color: red;
}

h1 {
    text-align: center;
    color: lime;
}

.about {
    background-color: aqua;
}

.skills {
    font-size: xx-large;
}

.projects {
    font-family: 'Courier New', Courier, monospace;
}

.contact {
    color: blue;
}
